@import './normalize.css';
@import './reset.css';
@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif, Open Sans',
    sans-serif;
}
