/* https://codyhouse.co/blog/post/dark-light-switch-css-javascript */
:root {
  --black: #000;
  --black-1: #111;
  --black-2: #222;
  --black-3: #333;
  --black-4: #444;
  --black-5: #555;
  --white: #fff;
  --white-grey-0: #f8f8f8;
  --white-grey-1: #f4f4f4;
  --grey-0: #eee;
  --grey-1: #ddd;
  --grey-2: #ccc;
  --grey-3: #bbb;
  --grey-4: #aaa;
  --grey-5: #999;
  --grey-6: #888;
  --grey-7: #777;
  --grey-8: #666;
  --primary: #ff385c;
  --primary-dark: #e21a60;
  --secondary: #008489;
  --facebook: #4568b2;
  --facebook-dark: #3b5998;
}

[data-theme='dark'] {
  /* body { */
  color: #fff;
  --black: #fff;
  --primary: #ff385c;
  --primary-dark: #e21a60;
}

/* OS dark/light 모드를 감지하는 css media 속성이나 웹 야간모드와 분리하는 게 좋다고 생각해 사용하지 x*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
/* 
@media (prefers-color-scheme:dark){
  :root{

  }
  [data-theme = '']{
    
  }
}
@media(prefers-color-scheme:light){
  
} */
